<a href="https://colab.research.google.com/github/Jaspreet-Singh619/DSA/blob/main/DSA1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import math
def longestValidParenthesis(s :str):
  count=0
        ##)))))
        ##(((() - 3 wrong 1 right 5-3
  list1=[]
  for i in s:
    list1.append(i)

  print(list1)
  total_len=len(s)
  for i in list1:
    if i == '(':
        count=count+1
        continue
    elif i==')':
        count=count-1
  print(total_len,count)
  if total_len==0:
      return 0
  else:
     return total_len-abs(count)

In [14]:
longestValidParenthesis("(()")

['(', '(', ')']
3 1

2